.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;

  .todo-details {
    flex: 1;

    .todo-check {
      display: flex;
      flex-direction: row;
      align-items: center;

      p {
        margin-left: 10px;
      }
    }
  }

  .todo-actions {
    display: flex;
    align-items: center;

    a,
    button {
      margin-left: 10px;
      text-decoration: none;
      cursor: pointer;
      padding: 5px 10px;
      border: none;
      border-radius: 4px;

      &:hover {
        background-color: #f0f0f0;
      }
    }

    button {
      background-color: #f44336;
      color: white;

      &:hover {
        background-color: #d32f2f;
      }
    }
  }
}
.round-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  cursor: pointer;
}

.round-checkbox:checked {
  background-color: #f44336;
}

.modal-background {
  top: 0;
  position: fixed;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);

  .modal {
    background-color: white;
    width: 540px;
    height: 200px;
    padding: 20px;

    .close {
      display: flex;
      justify-content: flex-end;

      span {
        height: 20px;
        width: 20px;
        display: flex;
        align-content: center;
        justify-content: center;
        color: #9f9f9f;
        font-weight: 500;
      }
      span:hover {
        cursor: pointer;
      }
    }

    .heading {
      font-size: 20px;
      font-weight: 500;
    }

    .date {
      margin-top: 10px;

      .label {
        margin-top: 33px;
        color: #9f9f9f;
        font-weight: 550;
      }
      .due-date {
        margin-top: 15px;
      }
    }
  }
}

.hidden {
  display: none;
}
